@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome, Movie Lovers!</h1>
    <p class="lead">Prospering during this federal cash heist...</p>
    <hr class="my-4" />
    <p>Courtesy of utility classes for typography and spacing to space content out within the larger container</p>
    <p class="lead">
        <a class="btn btn-info btn-lg" href="/Movies/Index" role="button">View movies</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome You</h2>
        <p>
            iMovie is another ASP.NET Core Web App development
            environment from APM Industries.
        </p>
        <p><a class="btn btn-outline-dark" href="https://revenuesource.us" target="_blank">Check out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Formless Substance</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-outline-dark" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html" target="_blank">See tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download All</h2>
        <p>You can get knowledge through the Microsoft Docs documentation page(s).</p>
        <p><a class="btn btn-outline-dark" href="https://docs.microsoft.com/aspnet/core" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>

@*
    <div class="text-center">
        <h1 class="display-4">Welcome, Alex!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
*@