@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Privacy and data protection policies</h1>
<p>
    Protecting consumers’ privacy and data is important to Microsoft Advertising. We provide the policies on this page to help advertisers ensure that this protection is attained.
</p>
<p>
    Advertising is not allowed for websites whose main or sole purpose is the collection of personal data, intended as any information that can be used — either alone or in combination with others — to locate an individual, to be used for consumer or promotional marketing, or actions related to such purposes. This includes advertising for pages that link or redirect to such sites.
</p>

<h1>Privacy policy</h1>
<p>
    You must provide a prominent link from your landing page — or include within the landing page — a privacy policy that is applicable to the information being collected.
</p>

<h1>Phishing</h1>
<p>
    Phishing sites that try to trick visitors into sharing personal data for fraudulent purposes, such as stealing one’s identity, for example, are prohibited.
</p>